<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

 <test thread-count="5" name="Test1">
  <parameter name= "browser" value= "chrome"></parameter>
    <classes>
      <class name="Tests.CustomizedStatement001"/>
    </classes>
  </test> <!-- Test -->


  <test thread-count="5" name="Test2">
  <parameter name= "browser" value= "chrome"></parameter>
    <classes>
      <class name="Tests.CustomizedStatement002"/>
    </classes>
  </test> <!-- Test -->
  
  
  <test thread-count="5" name="Test3">
  <parameter name= "browser" value= "chrome"></parameter>
    <classes>
      <class name="Tests.CustomizedStatement003"/>
    </classes>
  </test> <!-- Test -->
  
  
  <test thread-count="5" name="Test4">
  <parameter name= "browser" value= "chrome"></parameter>
    <classes>
      <class name="Tests.CustomizedStatement004"/>
    </classes>
  </test> <!-- Test -->
  

   <test thread-count="5" name="Test5">
  <parameter name= "browser" value= "chrome"></parameter>
    <classes>
      <class name="Tests.CustomizedStatement005"/>
    </classes>
  </test> <!-- Test -->
  
     <test thread-count="5" name="Test6">
  <parameter name= "browser" value= "chrome"></parameter>
    <classes>
      <class name="Tests.CustomizedStatement006"/>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Test7">
  <parameter name= "browser" value= "chrome"></parameter>
    <classes>
      <class name="Tests.CustomizedStatement007"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
